[Unit]
Description=Pirate VM
Requires=network.target
After=network.target

[Service]
User=pirate
Group=pirate

ExecStart=/home/pirate/pirate/start.sh
ExecStop=/home/pirate/pirate/stop.sh
TimeoutStartSec=90
RemainAfterExit=yes
Type=notify
KillMode=process
Restart=on-failure
StartLimitBurst=3

[Install]
WantedBy=multi-user.target
